

.buddhist-image1 {
    background-image: url('../assets/buddha01.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
}

.buddhist-image2 {
    background-image: url('../assets/buddhist1.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
}

.buddhist-image3 {
    background-image: url('../assets/buddhist3.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
}

.buddhist-image4 {
    background-image: url('../assets/buddhist2.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
}

.buddhist-image5 {
    background-image: url('../assets/buddhist5.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
}

.buddhist-image6 {
    background-image: url('../assets/buddhist6.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
}
.buddhist-image7 {
    background-image: url('../assets/buddhist17.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
}
