.bg-red {
    background-color: #ba181b;
}

.bg-blue {
    background-color: #274c77;
}

.bg-gold {
    background-color: #fca311;
}

.bg-yellow {
    background-color: yellow;
}

.bg-hardly-red{
    background-color: #ba181b;
}

.bg-green {
    background-color: #3c6e71;
}

.bg-white {
    background-color: #e9ecef;
}

.bg-black {
    background-color: black;
}

.bg-light-orange {
    background-color: #ef8354;
}

.bg-skin {
    background-color: #ff9b54;
}

.white {
    color: white;
}