@media only screen and (max-width: 767px) {

    .folklorePageTitle{
        color: white;
        text-align: center;
        width: 100%;
        font-size: 1.2rem;
        padding-top: 1rem;
        font-weight: bold;
        letter-spacing: .3rem;
    }
    
    .overflowHelp{
        overflow: auto;
    }
    
    .mainPageText{
        color: white;
        padding: 2rem;
        padding-top: 1rem;
        letter-spacing: .11rem;
        margin-top: 1rem;
    }
    .divWrap{
        // background-color: blue;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .carouselWrapper{
        width: 75%;
        height: 80%;
        padding: 2rem;
        border-radius: 2rem;
    }
    
    .cardTitle{
        text-align: center;
        color: white;
        font-size: 1.3rem;
        font-weight: bold;
        // letter-spacing: .11rem;
        padding: 1rem 0 1rem 0;
    }
    
    .contentWrap{
        width: 100%;
        height: 100%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: red;
        
    }

    .borderWrap{
        border-radius: 2rem;
        padding: 2rem;
        width: 90%;
        height: 70%;
        overflow: auto;
    }
    .textWrap{
        font-weight: bold;
        font-size: 1.1rem;
        text-align: justify;
    }
    
    .arrowdisplay{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    
    .arrowStyle{
        cursor: pointer;
        user-select: none;
        width: fit-content;
        height: fit-content;
        padding: .6rem;
        border-radius: .5rem;
        border: 2px solid white;
        color: white;
        font-weight: bold;
        font-size: 1rem;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
.folklorePageTitle{
    color: white;
    text-align: center;
    width: 100%;
    font-size: 1.4rem;
    padding-top: 1rem;
    font-weight: bold;
    letter-spacing: .3rem;
}

.overflowHelp{
    overflow: auto;
}

.mainPageText{
    color: white;
    padding: 2rem;
    padding-top: 1rem;
    letter-spacing: .11rem;
    margin-top: 1rem;
}
.divWrap{
    // background-color: blue;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carouselWrapper{
    width: 75%;
    height: 80%;
    padding: 2rem;
    border-radius: 2rem;
}

.cardTitle{
    text-align: center;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: .11rem;
    padding: 2rem 0 2rem 0;
}

.contentWrap{
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    
}

.borderWrap{
    border-radius: 2rem;
    padding: 2rem;
    width: 90%;
    height: 60%;
    overflow: auto;
}
.textWrap{
    font-weight: bold;
    font-size: 1.1rem;
    text-align: justify;
}

.arrowdisplay{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.arrowStyle{
    cursor: pointer;
    user-select: none;
    width: fit-content;
    height: fit-content;
    padding: .6rem;
    border-radius: .5rem;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
}
}


@media only screen and (min-width: 1025px) and (max-width: 1280px) {

    .folklorePageTitle{
        color: white;
        text-align: center;
        width: 100%;
        font-size: 1.4rem;
        padding-top: 1rem;
        font-weight: bold;
        letter-spacing: .3rem;
    }
    
    .overflowHelp{
        overflow: auto;
    }
    
    .mainPageText{
        color: white;
        padding: 2rem;
        padding-top: 1rem;
        letter-spacing: .11rem;
        margin-top: 1rem;
    }
    .divWrap{
        // background-color: blue;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .carouselWrapper{
        width: 75%;
        height: 80%;
        padding: 2rem;
        border-radius: 2rem;
    }
    
    .cardTitle{
        text-align: center;
        color: white;
        font-size: 1.3rem;
        font-weight: bold;
        letter-spacing: .11rem;
        padding: 2rem 0 2rem 0;
    }
    
    .contentWrap{
        width: 100%;
        height: 100%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: red;
        
    }
    
    .borderWrap{
        border-radius: 2rem;
        padding: 2rem;
        width: 90%;
        height: 70%;
        overflow: auto;
    }
    .textWrap{
        font-weight: bold;
        font-size: 1.1rem;
        text-align: justify;
    }
    
    .arrowdisplay{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    
    .arrowStyle{
        cursor: pointer;
        user-select: none;
        width: fit-content;
        height: fit-content;
        padding: .6rem;
        border-radius: .5rem;
        border: 2px solid white;
        color: white;
        font-weight: bold;
        font-size: 1.3rem;
    }
}


@media only screen and (min-width: 1281px) and (max-width: 1440px) {
    
.folklorePageTitle{
    color: white;
    text-align: center;
    width: 100%;
    font-size: 1.4rem;
    padding-top: 1rem;
    font-weight: bold;
    letter-spacing: .3rem;
}

.overflowHelp{
    overflow: auto;
}

.mainPageText{
    color: white;
    padding: 2rem;
    padding-top: 1rem;
    letter-spacing: .11rem;
    margin-top: 1rem;
}
.divWrap{
    // background-color: blue;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carouselWrapper{
    width: 75%;
    height: 80%;
    padding: 2rem;
    border-radius: 2rem;
}

.cardTitle{
    text-align: center;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: .11rem;
    padding: 2rem 0 2rem 0;
}

.contentWrap{
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    
}

.borderWrap{
    border-radius: 2rem;
    padding: 2rem;
    width: 90%;
    height: 70%;
    overflow: auto;
}
.textWrap{
    font-weight: bold;
    font-size: 1.1rem;
    text-align: justify;
}

.arrowdisplay{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.arrowStyle{
    cursor: pointer;
    user-select: none;
    width: fit-content;
    height: fit-content;
    padding: .6rem;
    border-radius: .5rem;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
}
}

@media only screen and (min-width: 1441px) {


    .carouselContinterFolklore {
        width: 100%;
        margin-top: 2rem;
        display: block;
        height: auto;
    }

    .contFolk{
        width: 100%;
        padding-bottom: 3rem;
        display: flex;
    }

    .goLeftIconFolk{
        margin-top: 1rem;
        margin-left: 1rem;
        font-weight: bold;
        border: 1px solid white;
        color: white;
        width: 3vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 20%;
        height: 3vh;
        transform: scale(1.5);
        cursor: pointer;
        user-select: none;
    }

    .goRightIconFolk{
        margin-top: 1rem;
        margin-right: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        border: 1px solid white;
        color: white;
        width: 3vh;
        text-align: center;
        border-radius: 20%;
        height: 3vh;
        transform: scale(1.5);
        cursor: pointer;
        user-select: none;
    }

    .folkNesto{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


.folklorePageTitle{
    color: white;
    text-align: center;
    width: 100%;
    font-size: 1.4rem;
    padding-top: 1rem;
    font-weight: bold;
    letter-spacing: .3rem;
}

.overflowHelp{
    overflow: auto;
}

.mainPageText{
    color: white;
    padding: 2rem;
    padding-top: 1rem;
    letter-spacing: .11rem;
    margin-top: 1rem;
}
.divWrap{
    // background-color: blue;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carouselWrapper{
    width: 75%;
    height: 80%;
    padding: 2rem;
    border-radius: 2rem;
}

.cardTitle{
    text-align: center;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: .11rem;
    padding: 2rem 0 2rem 0;
}

.contentWrap{
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.borderWrap{
    border-radius: 2rem;
    padding: 1rem;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    overflow: auto;
}

.sub-title-folk{
    color: white;
    font-size: 1rem;
    letter-spacing: .11rem;
}

.textWrap{
    letter-spacing: .11rem;
    font-size: 1rem;
    padding-top: 1rem;
    text-align: justify;
    color: white;
}

.arrowdisplay{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.arrowStyle{
    cursor: pointer;
    user-select: none;
    width: fit-content;
    height: fit-content;
    padding: .6rem;
    border-radius: .5rem;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
}
}