@media only screen and (max-width: 767px) {

    .picture-title{
        font-size: 1.4rem;
    }

    .titlePaint {
        font-weight: bold;
        color: white;
        font-size: 1rem;
        text-align: center;
        letter-spacing: .11rem;
        width: 100%;
    }

    .pageWrapper {
        color: white;
        display: flex;
        flex-direction: column-reverse;
        padding-top: 1rem;
    }

    .textwrapper {
        margin-right: 1rem;
        height: 100%;
        margin-top: -7rem;
    }

    .textHelp {
        margin-bottom: 5rem;
        letter-spacing: .11rem;
        font-size: 1rem;
    }

    .mobileHelp {
        overflow: auto;
    }

    .firstPicture {
        background-image: url('../assets/WangWei.jpg');
        background-position: 50% 0%;
        width: 100%;
        height: 55%;
        background-size: contain;
        background-repeat: no-repeat;
        margin-bottom: 1rem;
    }

    .secondPicture {
        background-image: url('../assets/xiao.jpg');
        background-position: 50% 0%;
        width: 100%;
        height: 55%;
        background-repeat: no-repeat;
    }

    .thridPicture {
        background-image: url('../assets/Xieyi.jpg');
        background-position: 50% 0%;
        width: 100%;
        height: 55%;
        background-repeat: no-repeat;
    }

    .forthPicture {
        background-image: url('../assets/FanKuan.jpg');
        background-position: 50% 0%;
        background-size: contain;
        width: 100%;
        height: 55%;
        background-size: contain;
        background-repeat: no-repeat;
        margin-bottom: 1rem;
    }

    .fivePicture {
        background-image: url('../assets/emperor.jpg');
        background-position: 50% 0%;
        background-size: contain;
        width: 100%;
        height: 50%;
        background-repeat: no-repeat;
    }

    .sixPicture {
        background-image: url('../assets/xuwei.jpg');
        background-position: 50% 0%;
        background-size: contain;
        width: 100%;
        height: 50%;
        background-repeat: no-repeat;
    }

    .sevenPicture {
        background-image: url('../assets/xu.jpg');
        background-position: 50% 0%;
        background-size: contain;
        width: 100%;
        height: 50%;
        background-repeat: no-repeat;
    }

    .pictureWrap {
        width: 100%;
        height: 55vh;
        // background-color: red;
    }

    .goLeftIconPaint {
        margin-top: 1rem;
        margin-left: 1rem;
        font-weight: bold;
        border: 1px solid white;
        color: white;
        width: 3vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 20%;
        height: 3vh;
        transform: scale(1.5);
        cursor: pointer;
        user-select: none;
    }

    .goLeftIconPaint {
        margin-top: 1rem;
        margin-right: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        border: 1px solid white;
        color: white;
        width: 3vh;
        text-align: center;
        border-radius: 20%;
        height: 3vh;
        transform: scale(1.5);
        cursor: pointer;
        user-select: none;
    }

}


@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .picture-title{
        font-size: 1.4rem;
    }

    .titlePaint {
        font-weight: bold;
        color: white;
        font-size: 1.6rem;
        letter-spacing: .12rem;
        text-align: center;
        margin: 0.5rem;
        width: 100%;
        margin-left: 10rem;
        margin-right: 10rem;
    }

    .pageWrapper {
        color: white;
        display: flex;
        flex-direction: column-reverse;
        padding-top: 1rem;
    }

    .textwrapper {
        margin-right: 1rem;
        height: 100%;
        margin-top: -15rem;
    }

    .textHelp {
        margin-bottom: 5rem;
        letter-spacing: .12rem;
        font-size: 1.5rem;
    }

    .mobileHelp {
        overflow: auto;
    }

    .firstPicture {
        background-image: url('../assets/WangWei.jpg');
        background-position: 50% 0%;
        width: 100%;
        height: 55%;
        margin-bottom: 1rem;
        background-repeat: no-repeat;
    }

    .secondPicture {
        background-image: url('../assets/xiao.jpg');
        background-position: 50% 0%;
        background-size: contain;
        width: 100%;
        height: 55%;
        background-repeat: no-repeat;
    }

    .thridPicture {
        background-image: url('../assets/Xieyi.jpg');
        background-position: 50% 0%;
        background-size: contain;
        width: 100%;
        height: 55%;
        background-repeat: no-repeat;
    }

    .forthPicture {
        background-image: url('../assets/FanKuan.jpg');
        background-position: 50% 0%;
        background-size: contain;
        width: 100%;
        height: 55%;
        background-repeat: no-repeat;
    }

    .fivePicture {
        background-image: url('../assets/emperor.jpg');
        background-position: 50% 0%;
        background-size: contain;
        width: 100%;
        height: 50%;
        background-repeat: no-repeat;
    }

    .sixPicture {
        background-image: url('../assets/xuwei.jpg');
        background-position: 50% 0%;
        background-size: contain;
        width: 100%;
        height: 50%;
        background-repeat: no-repeat;
    }

    .sevenPicture {
        background-image: url('../assets/xu.jpg');
        background-position: 50% 0%;
        background-size: contain;
        width: 100%;
        height: 50%;
        background-repeat: no-repeat;
    }

    .pictureWrap {
        width: 100%;
        height: 55vh;
        margin-bottom: 5rem;
    }

    .goLeftIconPaint {
        margin-top: 1rem;
        margin-left: 1rem;
        font-weight: bold;
        border: 1px solid white;
        color: white;
        width: 3vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 20%;
        height: 3vh;
        transform: scale(1.5);
        cursor: pointer;
        user-select: none;
    }

    .goLeftIconPaint {
        margin-top: 1rem;
        margin-right: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        border: 1px solid white;
        color: white;
        width: 3vh;
        text-align: center;
        border-radius: 20%;
        height: 3vh;
        transform: scale(1.5);
        cursor: pointer;
        user-select: none;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {

    .picture-title{
        font-size: 1.4rem;
    }

    .titlePaint {
        font-weight: bold;
        color: white;
        font-size: 1.7rem;
        text-align: center;
        margin: 0.5rem;
        width: 100%;
        margin-left: 10rem;
        margin-right: 10rem;
    }

    .pageWrapper {
        color: white;
        display: flex;
        flex-direction: column-reverse;
        padding-top: 1rem;
    }

    .textwrapper {
        margin-right: 1rem;
        height: 100%;
        margin-top: -5rem;
    }

    .textHelp {
        margin-bottom: 5rem;
        letter-spacing: .12rem;
        font-size: 1.4rem;
    }
    .mobileHelp {
        overflow: auto;
    }

    .firstPicture {
        background-image: url('../assets/WangWei.jpg');
        background-position: 50% 0%;
        width: 100%;
        height: 55%;
        margin-bottom: 0rem;
        background-repeat: no-repeat;
    }

    .secondPicture {
        background-image: url('../assets/xiao.jpg');
        background-position: 50% 0%;
        background-size: contain;
        width: 100%;
        height: 55%;
        background-repeat: no-repeat;
    }

    .thridPicture {
        background-image: url('../assets/Xieyi.jpg');
        background-position: 50% 0%;
        background-size: contain;
        width: 100%;
        height: 55%;
        background-repeat: no-repeat;
    }

    .forthPicture {
        background-image: url('../assets/FanKuan.jpg');
        background-position: 50% 0%;
        background-size: contain;
        width: 100%;
        height: 55%;
        background-repeat: no-repeat;
    }

    .fivePicture {
        background-image: url('../assets/emperor.jpg');
        background-position: 50% 0%;
        background-size: contain;
        width: 100%;
        height: 50%;
        background-repeat: no-repeat;
    }

    .sixPicture {
        background-image: url('../assets/xuwei.jpg');
        background-position: 50% 0%;
        background-size: contain;
        width: 100%;
        height: 50%;
        background-repeat: no-repeat;
    }

    .sevenPicture {
        background-image: url('../assets/xu.jpg');
        background-position: 50% 0%;
        background-size: contain;
        width: 100%;
        height: 50%;
        background-repeat: no-repeat;
    }

    .pictureWrap {
        width: 100%;
        height: 45vh;
        margin-bottom: -5rem;
    }

    .goLeftIconPaint {
        margin-top: 1rem;
        margin-left: 1rem;
        font-weight: bold;
        border: 1px solid white;
        color: white;
        width: 3vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 20%;
        height: 3vh;
        transform: scale(1.5);
        cursor: pointer;
        user-select: none;
    }

    .goLeftIconPaint {
        margin-top: 1rem;
        margin-right: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        border: 1px solid white;
        color: white;
        width: 3vh;
        text-align: center;
        border-radius: 20%;
        height: 3vh;
        transform: scale(1.5);
        cursor: pointer;
        user-select: none;
    }
}



@media only screen and (min-width: 1024px) and (max-width: 1280px) and (max-height: 767px){

    .picture-title{
        font-size: 1.4rem;
    }

    .titlePaint {
        font-weight: bold;
        color: white;
        font-size: 1.3rem;
        text-align: center;
        margin: 0.5rem;
        width: 100%;
        margin-left: 10rem;
        margin-right: 10rem;
    }

    .pageWrapper {
        color: white;
        display: flex;
        flex-direction: column-reverse;
        padding-top: 1rem;
    }

    .textwrapper {
        margin-right: 1rem;
        height: 100%;
        margin-top: -5rem;
    }

    .textHelp {
        margin-bottom: 5rem;
        letter-spacing: .12rem;
        font-size: 1.4rem;
    }
    .mobileHelp {
        overflow: auto;
    }

    .firstPicture {
        background-image: url('../assets/WangWei.jpg');
        background-position: 50% 0%;
        width: 100%;
        height: 55%;
        margin-bottom: 0rem;
        background-repeat: no-repeat;
    }

    .secondPicture {
        background-image: url('../assets/xiao.jpg');
        background-position: 50% 0%;
        background-size: contain;
        width: 100%;
        height: 55%;
        background-repeat: no-repeat;
    }

    .thridPicture {
        background-image: url('../assets/Xieyi.jpg');
        background-position: 50% 0%;
        background-size: contain;
        width: 100%;
        height: 55%;
        background-repeat: no-repeat;
    }

    .forthPicture {
        background-image: url('../assets/FanKuan.jpg');
        background-position: 50% 0%;
        background-size: contain;
        width: 100%;
        height: 55%;
        background-repeat: no-repeat;
    }

    .fivePicture {
        background-image: url('../assets/emperor.jpg');
        background-position: 50% 0%;
        background-size: contain;
        width: 100%;
        height: 50%;
        background-repeat: no-repeat;
    }

    .sixPicture {
        background-image: url('../assets/xuwei.jpg');
        background-position: 50% 0%;
        background-size: contain;
        width: 100%;
        height: 50%;
        background-repeat: no-repeat;
    }

    .sevenPicture {
        background-image: url('../assets/xu.jpg');
        background-position: 50% 0%;
        background-size: contain;
        width: 100%;
        height: 50%;
        background-repeat: no-repeat;
    }

    .pictureWrap {
        width: 100%;
        height: 90vh;
        // margin-bottom: -5rem;
    }

    .goLeftIconPaint {
        margin-top: 1rem;
        margin-left: 1rem;
        font-weight: bold;
        border: 1px solid white;
        color: white;
        width: 3vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 20%;
        height: 3vh;
        transform: scale(1.5);
        cursor: pointer;
        user-select: none;
    }

    .goLeftIconPaint {
        margin-top: 1rem;
        margin-right: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        border: 1px solid white;
        color: white;
        width: 3vh;
        text-align: center;
        border-radius: 20%;
        height: 3vh;
        transform: scale(1.5);
        cursor: pointer;
        user-select: none;
    }
}




@media only screen and (min-width: 1280px) and (max-width: 1440px) and (max-height: 1024px){
    
    .picture-title{
        font-size: 1.4rem;
    }

    .titlePaint {
        font-weight: bold;
        color: white;
        font-size: 1.7rem;
        text-align: center;
        margin: 0.5rem;
        width: 100%;
        margin-left: 10rem;
        margin-right: 10rem;
    }

    .pageWrapper {
        color: white;
        display: flex;
        flex-direction: column-reverse;
        padding-top: 1rem;
    }

    .textwrapper {
        margin-right: 1rem;
        height: 100%;
        margin-top: -5rem;
    }

    .textHelp {
        margin-bottom: 5rem;
        letter-spacing: .12rem;
        font-size: 1.5rem;
    }
    .mobileHelp {
        overflow: auto;
    }

    .firstPicture {
        background-image: url('../assets/WangWei.jpg');
        background-position: 50% 0%;
        width: 100%;
        height: 55%;
        margin-bottom: 0rem;
        background-repeat: no-repeat;
    }

    .secondPicture {
        background-image: url('../assets/xiao.jpg');
        background-position: 50% 0%;
        background-size: contain;
        width: 100%;
        height: 55%;
        background-repeat: no-repeat;
    }

    .thridPicture {
        background-image: url('../assets/Xieyi.jpg');
        background-position: 50% 0%;
        background-size: contain;
        width: 100%;
        height: 55%;
        background-repeat: no-repeat;
    }

    .forthPicture {
        background-image: url('../assets/FanKuan.jpg');
        background-position: 50% 0%;
        background-size: contain;
        width: 100%;
        height: 55%;
        background-repeat: no-repeat;
    }

    .fivePicture {
        background-image: url('../assets/emperor.jpg');
        background-position: 50% 0%;
        background-size: contain;
        width: 100%;
        height: 50%;
        background-repeat: no-repeat;
    }

    .sixPicture {
        background-image: url('../assets/xuwei.jpg');
        background-position: 50% 0%;
        background-size: contain;
        width: 100%;
        height: 50%;
        background-repeat: no-repeat;
    }

    .sevenPicture {
        background-image: url('../assets/xu.jpg');
        background-position: 50% 0%;
        background-size: contain;
        width: 100%;
        height: 50%;
        background-repeat: no-repeat;
    }

    .pictureWrap {
        width: 100%;
        height: 90vh;
        // margin-bottom: -5rem;
    }

    .goLeftIconPaint {
        margin-top: 1rem;
        margin-left: 1rem;
        font-weight: bold;
        border: 1px solid white;
        color: white;
        width: 3vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 20%;
        height: 3vh;
        transform: scale(1.5);
        cursor: pointer;
        user-select: none;
    }

    .goLeftIconPaint {
        margin-top: 1rem;
        margin-right: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        border: 1px solid white;
        color: white;
        width: 3vh;
        text-align: center;
        border-radius: 20%;
        height: 3vh;
        transform: scale(1.5);
        cursor: pointer;
        user-select: none;
    }
}

@media only screen and (min-width: 1281px) and (max-width: 1440px) {

    .picture-title{
        font-size: 1.4rem;
    }

    .titlePaint {
        font-weight: bold;
        color: white;
        font-size: 1.3rem;
        text-align: center;
        margin: 0.5rem;
        width: 100%;
        margin-left: 10rem;
        margin-right: 10rem;
    }

    
    .textHelp {
        margin-bottom: 5rem;
        letter-spacing: .12rem;
        font-size: 1rem;
    }
    .firstPicture {
        background-image: url('../assets/WangWei.jpg');
        background-position: 50% 0%;
        width: 100%;
        height: 55%;
        background-repeat: no-repeat;
    }

    .secondPicture {
        background-image: url('../assets/xiao.jpg');
        background-position: 50% 0%;
        width: 100%;
        height: 55%;
        background-repeat: no-repeat;
    }

    .thridPicture {
        background-image: url('../assets/Xieyi.jpg');
        background-position: 50% 0%;
        width: 100%;
        height: 55%;
        background-repeat: no-repeat;
    }

    .forthPicture {
        background-image: url('../assets/FanKuan.jpg');
        background-position: 50% 0%;
        background-size: contain;
        width: 100%;
        height: 70%;
        background-repeat: no-repeat;
    }

    .fivePicture {
        background-image: url('../assets/emperor.jpg');
        background-position: 50% 0%;
        background-size: contain;
        width: 100%;
        height: 50%;
        background-repeat: no-repeat;
    }

    .sixPicture {
        background-image: url('../assets/xuwei.jpg');
        background-position: 50% 0%;
        background-size: contain;
        width: 100%;
        height: 50%;
        background-repeat: no-repeat;
    }

    .sevenPicture {
        background-image: url('../assets/xu.jpg');
        background-position: 50% 0%;
        background-size: contain;
        width: 100%;
        height: 50%;
        background-repeat: no-repeat;
    }

    .pictureWrap {
        width: 50%;
    }

    .mobileHelp {
        overflow: auto;
    }
    .goLeftIconPaint {
        margin-top: 1rem;
        margin-left: 1rem;
        font-weight: bold;
        border: 1px solid white;
        color: white;
        width: 3vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 20%;
        height: 3vh;
        transform: scale(1.5);
        cursor: pointer;
        user-select: none;
    }

    .goLeftIconPaint {
        margin-top: 1rem;
        margin-right: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        border: 1px solid white;
        color: white;
        width: 3vh;
        text-align: center;
        border-radius: 20%;
        height: 3vh;
        transform: scale(1.5);
        cursor: pointer;
        user-select: none;
    }
}

@media only screen and (min-width: 1441px) {

    .picture-title{
        font-size: 1.4rem;
    }

    .pageWrapper {
        color: white;
        display: flex;
        padding-top: 1rem;
    }


    .mobileHelp {
        overflow: auto;
    }


    .titlePaint {
        font-weight: bold;
        color: white;
        font-size: 1.3rem;
        text-align: center;
        margin: 0.5rem;
        width: 100%;
        margin-left: 10rem;
        margin-right: 10rem;
    }

    .firstPicture {
        background-image: url('../assets/WangWei.jpg');
        background-position: 50% 0%;
        width: 100%;
        height: 55%;
        background-repeat: no-repeat;
    }

    .secondPicture {
        background-image: url('../assets/xiao.jpg');
        background-position: 50% 0%;
        width: 100%;
        height: 55%;
        background-repeat: no-repeat;
    }

    .thridPicture {
        background-image: url('../assets/Xieyi.jpg');
        background-position: 50% 0%;
        width: 100%;
        height: 55%;
        background-repeat: no-repeat;
    }

    .forthPicture {
        background-image: url('../assets/FanKuan.jpg');
        background-position: 50% 0%;
        background-size: contain;
        width: 100%;
        height: 70%;
        background-repeat: no-repeat;
    }

    .fivePicture {
        background-image: url('../assets/emperor.jpg');
        background-position: 50% 0%;
        background-size: contain;
        width: 100%;
        height: 50%;
        background-repeat: no-repeat;
    }

    .sixPicture {
        background-image: url('../assets/xuwei.jpg');
        background-position: 50% 0%;
        background-size: contain;
        width: 100%;
        height: 50%;
        background-repeat: no-repeat;
    }
    
    .textHelp {
        margin-bottom: 5rem;
        letter-spacing: .12rem;
        font-size: 1.1rem;
    }

    .sevenPicture {
        background-image: url('../assets/xu.jpg');
        background-position: 50% 0%;
        background-size: contain;
        width: 100%;
        height: 50%;
        background-repeat: no-repeat;
    }

    .pictureWrap {
        width: 50%;
    }
    
    .goLeftIconPaint {
        margin-top: 1rem;
        margin-left: 1rem;
        font-weight: bold;
        border: 1px solid white;
        color: white;
        width: 3vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 20%;
        height: 3vh;
        transform: scale(1.5);
        cursor: pointer;
        user-select: none;
    }

    .goLeftIconPaint {
        margin-top: 1rem;
        margin-right: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        border: 1px solid white;
        color: white;
        width: 3vh;
        text-align: center;
        border-radius: 20%;
        height: 3vh;
        transform: scale(1.5);
        cursor: pointer;
        user-select: none;
    }
}