.overflow-Y {
    overflow-y: auto;
}

@media only screen and (max-width: 767px) and (max-height: 767px) {
    .headliner-holder{
        width: 100%;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 5rem;
    }

    .headliner{
        background-image: url("../assets/headliner.jpg");
        background-repeat: no-repeat;
        height: 100%;
        width: 90%;
        background-size: 100% 100%;
        padding: 1rem;
        margin-left: 1%;
        margin-top: 2%;
    }

    
    
    .people-flip-cards {
        display: flex;
        width: 100%;
        height: 200%;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 5rem;
        margin-bottom: 15rem;
        padding-bottom: 15rem;
    }

    .people-flip-card {
        width: 60%;
        height: 10%;
        margin: 1rem;
        perspective: 1000px;
    }

    .card-title {
        font-size: .8rem;
        padding-top: .1rem;
        padding-bottom: .5rem;
    }

    .paragraph-padding {
        padding-left: .2rem;
        padding-right: .2rem
    }


    .carouselContainer {
        width: 100%;
        margin-top: 2rem;
        display: block;
        height: auto;
    }

    .nestoo {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .cont {
        width: 90%;
        padding-bottom: 2rem;
        margin-left: 3%;
        display: flex;
        flex-direction: column;
        border: 1px solid white;
        justify-content: center;
        text-align: justify;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        align-items: center;
        background-color: #ba181b;
    }

    
    .iconStop{
        margin-right: 3rem;
        margin-top: 2rem;
        transform: scale(1.4);
        color: white;
        border: 1px solid white;
        border-radius: 50%;
        width: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.5rem;
        cursor: pointer;
    }

    .pointers{
        display: flex;
        flex-direction: row;
    }

    .dots{
        color: white;
        cursor: pointer;
        transform: scale(1.3);
        margin-left: .5rem;
    }


    .goLeftIcon {
        margin-top: 1rem;
        margin-left: 1rem;
        font-weight: bold;
        border: 1px solid white;
        color: white;
        width: 3vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 20%;
        height: 3vh;
        transform: scale(1.5);
        cursor: pointer;
        user-select: none;
    }

    .goRightIcon {
        margin-top: 1rem;
        margin-right: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        border: 1px solid white;
        color: white;
        width: 3vh;
        text-align: center;
        border-radius: 20%;
        height: 3vh;
        transform: scale(1.5);
        cursor: pointer;
        user-select: none;
    }



    .text-below-headline {
        font-weight: bold;
        font-size: 1.2rem;
        margin-top: 1rem;
        color: white;
        text-align: center;
    }

    .text-below-paragraph {
        text-align: center;
        padding-left: 1rem;
        padding-right: 1rem;
        color: white;
        font-size: 1rem;
        margin-top: 1rem;
        margin-bottom: 5rem;
    }

    .people-flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .people-flip-card:hover .people-flip-card-inner {
        transform: rotateY(180deg);
    }

    .people-flip-card-front,
    .people-flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .people-flip-card-front {
        background-color:#3c6e71;
        color: black;
    }

    .front-page-image1 {
        background-image: url('../assets/tibetian.jpg');
        background-size: 150% 100%;
        width: 100%;
        height: 100%;
    }

    .front-page-image2 {
        background-image: url('../assets/bejing.jpg');
        background-size: 105% 100%;
        width: 100%;
        height: 100%;
    }


    .front-page-image3 {
        background-image: url('../assets/hongkong.jpg');
        background-size: 105% 100%;
        width: 100%;
        height: 100%;
    }

    .front-page-image4 {
        background-image: url('../assets/wall.jpg');
        background-size: 105% 100%;
        width: 100%;
        height: 100%;
    }

    .front-page-image5 {
        background-image: url('../assets/wuhan.jpg');
        background-size: 105% 100%;
        width: 100%;
        height: 100%;
    }

    .front-page-image6 {
        background-image: url('../assets/northeast.jpg');
        background-size: 105% 100%;
        width: 100%;
        height: 100%;
    }

    .front-page-image7 {
        background-image: url('../assets/himalaj.jpg');
        background-size: 105% 100%;
        width: 100%;
        height: 100%;
    }

    .front-page-image8 {
        background-image: url('../assets/tishuan.jpg');
        background-size: 105% 100%;
        width: 100%;
        height: 100%;
    }

    .people-flip-card-back {
        background-color: rgba(24, 43, 44, .3);
        color: white;
        transform: rotateY(180deg);
        font-size: .7rem !important;
        letter-spacing: .004rem;
        line-height: 1.2;
    }
}

@media only screen and (max-width: 767px) and (min-height: 768px) {

    
    .headliner-holder{
        width: 100%;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 5rem;
    }


    .headliner{
        background-image: url("../assets/headliner.jpg");
        background-repeat: no-repeat;
        height: 100%;
        width: 90%;
        background-size: 100% 100%;
        padding: 1rem;
        margin-top: 2%;
    }

    
    
    .people-flip-cards {
        display: flex;
        width: 100%;
        height: 200%;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 5rem;
        margin-bottom: 15rem;
        padding-bottom: 15rem;
    }

    .people-flip-card {
        width: 70%;
        height: 11%;
        margin: 1rem;
        perspective: 1000px;
    }

    .card-title {
        font-size: 1.1rem;
        text-align: center;
        padding-top: .1rem;
        padding-bottom: .5rem;
    }

    .paragraph-padding {
        padding-left: 1rem;
        padding-right: 1rem
    }


    .carouselContainer {
        width: 100%;
        margin-top: 2rem;
        display: block;
        height: auto;
    }

    .nestoo {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .cont {
        width: 90%;
        padding-bottom: 2rem;
        margin-left: 3%;
        display: flex;
        flex-direction: column;
        border: 1px solid white;
        justify-content: center;
        text-align: justify;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        align-items: center;
        background-color: #ba181b;
    }

    
    .iconStop{
        margin-right: 3rem;
        margin-top: 2rem;
        transform: scale(1.4);
        color: white;
        border: 1px solid white;
        border-radius: 50%;
        width: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.5rem;
        cursor: pointer;
    }

    .pointers{
        display: flex;
        flex-direction: row;
    }

    .dots{
        color: white;
        cursor: pointer;
        transform: scale(1.3);
        margin-left: .5rem;
    }

    .goLeftIcon {
        margin-top: 1rem;
        margin-left: 1rem;
        font-weight: bold;
        border: 1px solid white;
        color: white;
        width: 3vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 20%;
        height: 3vh;
        transform: scale(1.5);
        cursor: pointer;
        user-select: none;
    }

    .goRightIcon {
        margin-top: 1rem;
        margin-right: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        border: 1px solid white;
        color: white;
        width: 3vh;
        text-align: center;
        border-radius: 20%;
        height: 3vh;
        transform: scale(1.5);
        cursor: pointer;
        user-select: none;
    }



    .text-below-headline {
        font-weight: bold;
        font-size: 1.3rem;
        margin-top: 1rem;
        color: white;
        text-align: center;
    }

    .text-below-paragraph {
        text-align: center;
        padding-left: 1rem;
        padding-right: 1rem;
        color: white;
        font-size: 1rem;
        margin-top: 1rem;
        margin-bottom: 5rem;
    }

    .people-flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .people-flip-card:hover .people-flip-card-inner {
        transform: rotateY(180deg);
    }

    .people-flip-card-front,
    .people-flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .people-flip-card-front {
        background-color:#3c6e71;
        color: black;
    }

    .front-page-image1 {
        background-image: url('../assets/tibetian.jpg');
        background-size: 150% 100%;
        width: 100%;
        height: 100%;
    }

    .front-page-image2 {
        background-image: url('../assets/bejing.jpg');
        background-size: 105% 100%;
        width: 100%;
        height: 100%;
    }


    .front-page-image3 {
        background-image: url('../assets/hongkong.jpg');
        background-size: 105% 100%;
        width: 100%;
        height: 100%;
    }

    .front-page-image4 {
        background-image: url('../assets/wall.jpg');
        background-size: 105% 100%;
        width: 100%;
        height: 100%;
    }

    .front-page-image5 {
        background-image: url('../assets/wuhan.jpg');
        background-size: 105% 100%;
        width: 100%;
        height: 100%;
    }

    .front-page-image6 {
        background-image: url('../assets/northeast.jpg');
        background-size: 105% 100%;
        width: 100%;
        height: 100%;
    }

    .front-page-image7 {
        background-image: url('../assets/himalaj.jpg');
        background-size: 105% 100%;
        width: 100%;
        height: 100%;
    }

    .front-page-image8 {
        background-image: url('../assets/tishuan.jpg');
        background-size: 105% 100%;
        width: 100%;
        height: 100%;
    }

    .people-flip-card-back {
        background-color: rgba(24, 43, 44, .3);
        color: white;
        transform: rotateY(180deg);
        // text-align: justify;
        font-size: .9rem !important;
        letter-spacing: .004rem;
        line-height: 1.2;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .headliner-holder{
        width: 100%;
        height: 35%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: -10rem;
    }

    .headliner{
        background-image: url("../assets/headliner.jpg");
        background-repeat: no-repeat;
        height: 100%;
        width: 90%;
        background-size: contain;
        padding: 1rem;
        margin-left: 2%;
        margin-top: 2%;
    }

    
    .people-flip-cards {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 5rem;
        margin-bottom: 15rem;
        padding-bottom: 15rem;
    }

    .people-flip-card {
        width: 45%;
        height: 20%;
        // margin: .1rem;
        perspective: 1000px;
    }

    .card-title {
        font-size: 1.4rem;
        text-align: center;
        padding-top: .1rem;
        padding-bottom: .5rem;
    }

    .paragraph-padding {
        padding-left: 1rem;
        padding-right: 1rem
    }


    .carouselContainer {
        width: 100%;
        margin-top: 2rem;
        display: block;
        height: auto;
    }

    .nestoo {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .cont {
        width: 90%;
        padding-bottom: 2rem;
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        border: 1px solid white;
        justify-content: center;
        text-align: justify;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        align-items: center;
        background-color: #ba181b;
    }

    
    .iconStop{
        margin-right: 3rem;
        margin-top: 2rem;
        transform: scale(1.6);
        color: white;
        border: 1px solid white;
        border-radius: 50%;
        width: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.5rem;
        cursor: pointer;
    }

    .pointers{
        display: flex;
        flex-direction: row;
    }

    .dots{
        color: white;
        cursor: pointer;
        transform: scale(1.4);
        margin-left: 1rem;
    }


    .goLeftIcon {
        margin-top: 1rem;
        margin-left: 1rem;
        font-weight: bold;
        border: 1px solid white;
        color: white;
        width: 3vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 20%;
        height: 3vh;
        transform: scale(1.5);
        cursor: pointer;
        user-select: none;
    }

    .goRightIcon {
        margin-top: 1rem;
        margin-right: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        border: 1px solid white;
        color: white;
        width: 3vh;
        text-align: center;
        border-radius: 20%;
        height: 3vh;
        transform: scale(1.5);
        cursor: pointer;
        user-select: none;
    }



    .text-below-headline {
        font-weight: bold;
        font-size: 1.3rem;
        margin-top: 1rem;
        color: white;
        text-align: center;
    }

    .text-below-paragraph {
        text-align: justify;
        padding-left: 1rem;
        padding-right: 1rem;
        color: white;
        font-size: 1.2rem;
        margin-top: 1rem;
        margin-bottom: 5rem;
    }

    .people-flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .people-flip-card:hover .people-flip-card-inner {
        transform: rotateY(180deg);
    }

    .people-flip-card-front,
    .people-flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .people-flip-card-front {
        background-color:#3c6e71;
        color: black;
    }

    .front-page-image1 {
        background-image: url('../assets/tibetian.jpg');
        background-size: 150% 100%;
        width: 100%;
        height: 100%;
    }

    .front-page-image2 {
        background-image: url('../assets/bejing.jpg');
        background-size: 105% 100%;
        width: 100%;
        height: 100%;
    }


    .front-page-image3 {
        background-image: url('../assets/hongkong.jpg');
        background-size: 105% 100%;
        width: 100%;
        height: 100%;
    }

    .front-page-image4 {
        background-image: url('../assets/wall.jpg');
        background-size: 105% 100%;
        width: 100%;
        height: 100%;
    }

    .front-page-image5 {
        background-image: url('../assets/wuhan.jpg');
        background-size: 105% 100%;
        width: 100%;
        height: 100%;
    }

    .front-page-image6 {
        background-image: url('../assets/northeast.jpg');
        background-size: 105% 100%;
        width: 100%;
        height: 100%;
    }

    .front-page-image7 {
        background-image: url('../assets/himalaj.jpg');
        background-size: 105% 100%;
        width: 100%;
        height: 100%;
    }

    .front-page-image8 {
        background-image: url('../assets/tishuan.jpg');
        background-size: 105% 100%;
        width: 100%;
        height: 100%;
    }

    .people-flip-card-back {
        background-color: rgba(24, 43, 44, .3);
        color: white;
        text-align: justify;
        transform: rotateY(180deg);
        font-size: 1.1rem !important;
        letter-spacing: .004rem;
        line-height: 1.2;
    }
}


@media only screen and (min-width: 1024px) and (min-height: 1024px) {
    .headliner-holder{
        width: 100%;
        height: 35%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: -10rem;
    }

    .headliner{
        background-image: url("../assets/headliner.jpg");
        background-repeat: no-repeat;
        height: 100%;
        width: 90%;
        background-size: contain;
        padding: 1rem;
        margin-right: 3%;
        margin-top: 2%;
    }

    .people-flip-cards {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 5rem;
    }

    .people-flip-card {
        width: 40%;
        height: 20%;
        padding: 1rem;
        perspective: 1000px;
    }

    .card-title {
        font-size: 2rem;
        padding-top: .1rem;
        padding-bottom: .5rem;
    }

    .paragraph-padding {
        padding-left: .2rem;
        padding-right: .2rem
    }


    .carouselContainer {
        width: 100%;
        margin-top: 2rem;
        display: block;
        height: auto;
    }

    .nestoo {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .cont {
        width: 90%;
        padding-bottom: 2rem;
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        border: 1px solid white;
        justify-content: center;
        align-items: center;
        background-color: #ba181b;
    }

    
    .iconStop{
        margin-right: 3rem;
        margin-top: 2rem;
        transform: scale(1.6);
        color: white;
        border: 1px solid white;
        border-radius: 50%;
        width: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.5rem;
        cursor: pointer;
    }

    .pointers{
        display: flex;
        flex-direction: row;
    }

    .dots{
        color: white;
        cursor: pointer;
        transform: scale(1.4);
        margin-left: 1rem;
    }


    .goLeftIcon {
        margin-top: 1rem;
        margin-left: 1rem;
        font-weight: bold;
        border: 1px solid white;
        color: white;
        width: 3vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 20%;
        height: 3vh;
        transform: scale(1.5);
        cursor: pointer;
        user-select: none;
    }

    .goRightIcon {
        margin-top: 1rem;
        margin-right: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        border: 1px solid white;
        color: white;
        width: 3vh;
        text-align: center;
        border-radius: 20%;
        height: 3vh;
        transform: scale(1.5);
        cursor: pointer;
        user-select: none;
    }



    .text-below-headline {
        font-weight: bold;
        font-size: 1.9rem;
        margin-top: 1rem;
        color: white;
        text-align: center;
    }

    .text-below-paragraph {
        text-align: justify;
        padding-left: 1rem;
        padding-right: 1rem;
        color: white;
        font-size: 1.7rem;
        margin-top: 1rem;
        margin-bottom: 5rem;
    }

    .people-flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .people-flip-card:hover .people-flip-card-inner {
        transform: rotateY(180deg);
    }

    .people-flip-card-front,
    .people-flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .people-flip-card-front {
        background-color:#3c6e71;
        color: black;
    }


    .front-page-image1 {
        background-image: url('../assets/tibetian.jpg');
        background-size: 150% 100%;
    }

    .front-page-image2 {
        background-image: url('../assets/bejing.jpg');
        background-size: 105% 100%;
    }


    .front-page-image3 {
        background-image: url('../assets/hongkong.jpg');
        background-size: 105% 100%;
    }

    .front-page-image4 {
        background-image: url('../assets/wall.jpg');
        background-size: 105% 100%;
    }

    .front-page-image5 {
        background-image: url('../assets/wuhan.jpg');
        background-size: 105% 100%;
    }

    .front-page-image6 {
        background-image: url('../assets/northeast.jpg');
        background-size: 105% 100%;
    }

    .front-page-image7 {
        background-image: url('../assets/himalaj.jpg');
        background-size: 105% 100%;
    }

    .front-page-image8 {
        background-image: url('../assets/tishuan.jpg');
        background-size: 105% 100%;
    }

    .people-flip-card-back {
        background-color: rgba(24, 43, 44, .3);
        color: white;
        transform: rotateY(180deg);
        font-size: 1.4rem !important;
        letter-spacing: .004rem;
        line-height: 1.2;
    }
}


@media only screen and (min-width: 1024px)  and (max-height: 767px){

    .headliner-holder{
        width: 100%;
        height: 35%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 5rem;
    }

    
    .headliner{
        background-image: url("../assets/headliner.jpg");
        background-repeat: no-repeat;
        height: 100%;
        width: 90%;
        background-size: contain;
        padding: 1rem;
        margin-left: 7%;
        margin-top: 2%;
    }
    
    .people-flip-cards {
        display: flex;
        width: 100%;
        height: 100%;
        margin-top: 5rem;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .people-flip-card {
        width: 25%;
        height: 30%;
        margin: 1rem;
        perspective: 1000px;
    }

    .card-title {
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        padding-top: 1rem;
        // padding-left: 2rem;
        padding-bottom: .5rem;
    }

    .paragraph-padding {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }


    .carouselContainer {
        width: 100%;
        margin-top: 2rem;
        display: block;
        height: auto;
    }

    .nestoo {
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .cont {
        width: 90%;
        padding-bottom: 2rem;
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        border: 1px solid white;
        justify-content: center;
        align-items: center;
        background-color: #ba181b;
    }

    
    .iconStop{
        margin-right: 3rem;
        margin-top: 2rem;
        transform: scale(1.2);
        color: white;
        border: 1px solid white;
        border-radius: 50%;
        width: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.5rem;
        cursor: pointer;
    }

    .pointers{
        display: flex;
        flex-direction: row;
    }

    .dots{
        color: white;
        cursor: pointer;
        transform: scale(1.2);
        margin-left: .5rem;
    }

    .goLeftIcon {
        margin-top: 1rem;
        margin-left: 1rem;
        font-weight: bold;
        border: 1px solid white;
        color: white;
        width: 3vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 20%;
        height: 3vh;
        transform: scale(1.5);
        cursor: pointer;
        user-select: none;
    }

    .goRightIcon {
        margin-top: 1rem;
        margin-right: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        border: 1px solid white;
        color: white;
        width: 3vh;
        text-align: center;
        border-radius: 20%;
        height: 3vh;
        transform: scale(1.5);
        cursor: pointer;
        user-select: none;
    }



    .text-below-headline {
        font-weight: bold;
        font-size: 1.2rem;
        margin-top: 1rem;
        color: white;
        text-align: center;
    }

    .text-below-paragraph {
        text-align: justify;
        padding-left: 1rem;
        padding-right: 1rem;
        color: white;
        font-size: 1rem;
        margin-top: 1rem;
        margin-bottom: 5rem;
    }

    .people-flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .people-flip-card:hover .people-flip-card-inner {
        transform: rotateY(180deg);
    }

    .people-flip-card-front,
    .people-flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .people-flip-card-front {
        background-color:#3c6e71;
        color: black;
    }

    .front-page-image1 {
        background-image: url('../assets/tibetian.jpg');
        background-size: 150% 100%;
    }

    .front-page-image2 {
        background-image: url('../assets/bejing.jpg');
        background-size: 105% 100%;
    }


    .front-page-image3 {
        background-image: url('../assets/hongkong.jpg');
        background-size: 105% 100%;
    }

    .front-page-image4 {
        background-image: url('../assets/wall.jpg');
        background-size: 105% 100%;
    }

    .front-page-image5 {
        background-image: url('../assets/wuhan.jpg');
        background-size: 105% 100%;
    }

    .front-page-image6 {
        background-image: url('../assets/northeast.jpg');
        background-size: 105% 100%;
    }

    .front-page-image7 {
        background-image: url('../assets/himalaj.jpg');
        background-size: 105% 100%;
    }

    .front-page-image8 {
        background-image: url('../assets/tishuan.jpg');
        background-size: 105% 100%;
    }

    .people-flip-card-back {
        background-color: rgba(24, 43, 44, .3);
        color: white;
        text-align: center;
        transform: rotateY(180deg);
        font-size: .7rem !important;
        letter-spacing: .004rem;
        line-height: 1.2;
    }
}



@media only screen and (min-width: 1280px) and (max-width: 1440px) and (max-height: 1024px){
    
    .people-flip-cards {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 5rem;
        padding-bottom: 5rem;
    }

    .people-flip-card {
        width: 70%;
        height: 10%;
        margin: .5rem;
        perspective: 1000px;
    }

    .card-title {
        font-size: 25rem;
        padding-top: .1rem;
        padding-bottom: .5rem;
    }

    .paragraph-padding {
        padding-left: .2rem;
        padding-right: .2rem
    }


    .carouselContainer {
        width: 100%;
        margin-top: 2rem;
        display: block;
        height: auto;
    }

    .nestoo {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .cont {
        width: 100%;
        padding-bottom: 3rem;
        display: flex;
    }

    .goLeftIcon {
        margin-top: 1rem;
        margin-left: 1rem;
        font-weight: bold;
        border: 1px solid white;
        color: white;
        width: 3vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 20%;
        height: 3vh;
        transform: scale(1.5);
        cursor: pointer;
        user-select: none;
    }

    .goRightIcon {
        margin-top: 1rem;
        margin-right: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        border: 1px solid white;
        color: white;
        width: 3vh;
        text-align: center;
        border-radius: 20%;
        height: 3vh;
        transform: scale(1.5);
        cursor: pointer;
        user-select: none;
    }



    .text-below-headline {
        font-weight: bold;
        font-size: 1.7rem;
        margin-top: 1rem;
        color: white;
        text-align: center;
    }

    .text-below-paragraph {
        text-align: center;
        padding-left: 1rem;
        padding-right: 1rem;
        color: white;
        font-size: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 5rem;
    }

    .people-flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .people-flip-card:hover .people-flip-card-inner {
        transform: rotateY(180deg);
    }

    .people-flip-card-front,
    .people-flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .people-flip-card-front {
        background-color:#3c6e71;
        color: black;
    }

    .front-page-image1 {
        background-image: url('../assets/tibetian.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 100%;
        height: 100%;
    }

    .front-page-image2 {
        background-image: url('../assets/bejing.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 100%;
        height: 100%;
    }


    .front-page-image3 {
        background-image: url('../assets/hongkong.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 100%;
        height: 100%;
    }

    .front-page-image4 {
        background-image: url('../assets/wall.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 100%;
        height: 100%;
    }

    .front-page-image5 {
        background-image: url('../assets/wuhan.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 100%;
        height: 100%;
    }

    .front-page-image6 {
        background-image: url('../assets/northeast.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 100%;
        height: 100%;
    }

    .front-page-image7 {
        background-image: url('../assets/himalaj.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 100%;
        height: 100%;
    }

    .front-page-image8 {
        background-image: url('../assets/tishuan.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 100%;
        height: 100%;
    }

    .people-flip-card-back {
        background-color: rgba(24, 43, 44, .3);
        color: white;
        transform: rotateY(180deg);
        font-size: 1.8rem !important;
        letter-spacing: .004rem;
        line-height: 1.2;
    }
}


@media only screen and (min-width: 1280px) and (max-width: 1440px) {
    .headliner-holder{
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 10rem;
    }


    .headliner{
        background-image: url("../assets/headliner.jpg");
        background-repeat: no-repeat;
        height: 100%;
        width: 90%;
        background-size: contain;
        padding: 1rem;
        margin-left: 12%;
        margin-top: 2%;
    }

    
    .people-flip-cards {
        display: flex;
        width: 100%;
        height: 100%;
        margin-top: 5rem;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .people-flip-card {
        width: 25%;
        height: 25%;
        padding: 1rem;
        perspective: 1000px;
    }

    .card-title {
        font-size: 1.2rem;
        font-weight: bold;
        padding-top: 1rem;
        padding-left: 2rem;
        padding-bottom: .5rem;
    }

    .paragraph-padding {
        padding-left: 2rem;
        padding-right: 2rem
    }


    .carouselContainer {
        width: 100%;
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        height: auto;
        flex-direction: column;
    }

    .nestoo {
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .cont {
        width: 90%;
        padding-bottom: 2rem;
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        border: 1px solid white;
        justify-content: center;
        align-items: center;
        background-color: #ba181b;
    }

    .iconStop{
        margin-right: 3rem;
        margin-top: 2rem;
        transform: scale(1.4);
        color: white;
        border: 1px solid white;
        border-radius: 50%;
        width: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.5rem;
        cursor: pointer;
    }

    .pointers{
        display: flex;
        flex-direction: row;
    }

    .dots{
        color: white;
        cursor: pointer;
        transform: scale(1.2);
        margin-left: .5rem;
    }

    .goLeftIcon {
        margin-top: 1rem;
        margin-left: 1rem;
        font-weight: bold;
        border: 1px solid white;
        color: white;
        width: 3vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 20%;
        height: 3vh;
        transform: scale(1.5);
        cursor: pointer;
        user-select: none;
    }

    .goRightIcon {
        margin-top: 1rem;
        margin-right: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        border: 1px solid white;
        color: white;
        width: 3vh;
        text-align: center;
        border-radius: 20%;
        height: 3vh;
        transform: scale(1.5);
        cursor: pointer;
        user-select: none;
    }



    .text-below-headline {
        font-weight: bold;
        font-size: 1.3rem;
        margin-top: 1rem;
        color: white;
        text-align: center;
    }

    .text-below-paragraph {
        text-align: justify;
        padding-left: 1rem;
        padding-right: 1rem;
        color: white;
        font-size: 1.2rem;
        margin-top: 1rem;
        margin-bottom: 5rem;
    }

    .people-flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .people-flip-card:hover .people-flip-card-inner {
        transform: rotateY(180deg);
    }

    .people-flip-card-front,
    .people-flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .people-flip-card-front {
        background-color:#3c6e71;
        color: black;
    }


    .front-page-image1 {
        background-image: url('../assets/tibetian.jpg');
        background-size: 150% 100%;
    }

    .front-page-image2 {
        background-image: url('../assets/bejing.jpg');
        background-size: 105% 100%;
    }


    .front-page-image3 {
        background-image: url('../assets/hongkong.jpg');
        background-size: 105% 100%;
    }

    .front-page-image4 {
        background-image: url('../assets/wall.jpg');
        background-size: 105% 100%;
    }

    .front-page-image5 {
        background-image: url('../assets/wuhan.jpg');
        background-size: 105% 100%;
    }

    .front-page-image6 {
        background-image: url('../assets/northeast.jpg');
        background-size: 105% 100%;
    }

    .front-page-image7 {
        background-image: url('../assets/himalaj.jpg');
        background-size: 105% 100%;
    }

    .front-page-image8 {
        background-image: url('../assets/tishuan.jpg');
        background-size: 105% 100%;
    }


    .people-flip-card-back {
        background-color: rgba(24, 43, 44, .3);
        color: white;
        transform: rotateY(180deg);
        font-size: 1rem !important;
        letter-spacing: .004rem;
        line-height: 1.2;
    }
}


@media only screen and (min-width: 1441px) {
    .headliner-holder{
        width: 140%;
        height: 45%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 10rem;
    }

    .headliner{
        background-image: url("../assets/headliner.jpg");
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        background-size: contain;
        padding: 1rem;
        margin-top: 2%;
    }
    
    .people-flip-cards {
        display: flex;
        width: 100%;
        height: 100%;
        margin-top: 5rem;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .people-flip-card {
        width: 20%;
        height: 30%;
        // margin: 1rem;
        padding: 1rem;
        perspective: 1000px;
    }

    .card-title {
        font-size: 1.2rem;
        font-weight: bold;
        padding-top: 1rem;
        padding-left: 2rem;
        padding-bottom: .5rem;
    }

    .paragraph-padding {
        padding-left: 2rem;
        padding-right: 2rem
    }


    .carouselContainer {
        width: 100%;
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        height: auto;
        flex-direction: column;
    }

    .nestoo {
        width: 80%;
        height: 30rem;
        margin-top: 3rem;
        overflow-y: scroll;
        display: block;
    }


    ::-webkit-scrollbar {
        width: 7px;
    }
      
    ::-webkit-scrollbar-track {
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background:   white;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background:  rgb(85,85,85); 
    }
   

    .cont {
        width: 80%;
        padding-bottom: 2rem;
        margin-left: 10%;
        display: flex;
        flex-direction: column;
        border: 1px solid white;
        justify-content: center;
        align-items: center;
        background-color: #ba181b;
        background-image: url('../assets/bggg.png');
    }

    .pointers{
        display: flex;
        flex-direction: row;
    }

    .dots{
        color: white;
        cursor: pointer;
        transform: scale(1.2);
    }

    .iconStop{
        margin-right: 3rem;
        margin-top: 2rem;
        transform: scale(1.4);
        color: white;
        border: 1px solid white;
        border-radius: 50%;
        width: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.5rem;
        cursor: pointer;
    }

    .goLeftIcon {
        position: relative;
        font-weight: bold;
        border: 1px solid white;
        margin-right: 1rem;
        color: white;
        width: 3vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 20%;
        height: 3vh;
        transform: scale(1.5);
        cursor: pointer;
        user-select: none;
    }

    .goRightIcon {
        margin-top: 0%;
        margin-left: 1rem;
        margin-right: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        border: 1px solid white;
        color: white;
        width: 3vh;
        text-align: center;
        border-radius: 20%;
        height: 3vh;
        transform: scale(1.5);
        cursor: pointer;
        user-select: none;
    }



    .text-below-headline {
        font-weight: bold;
        font-size: 1.4rem;
        margin-top: 1rem;
        color: white;
        letter-spacing: .12rem;
        text-align: center;
    }

    .text-below-paragraph {
        text-align: center;
        padding-left: 1rem;
        padding-right: 1rem;
        // padding-bottom: 2rem;
        color: white;
        font-size: 1.1rem;
        margin-top: 1rem;
        letter-spacing: .12rem;
        margin-bottom: 2rem;
    }

    .people-flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .people-flip-card:hover .people-flip-card-inner {
        transform: rotateY(180deg);
    }

    .people-flip-card-front,
    .people-flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .people-flip-card-front {
        background-color:#3c6e71;
        color: black;
    }

    .front-page-image1 {
        background-image: url('../assets/tibetian.jpg');
        background-size: 150% 100%;
        width: 100%;
        height: 100%;
    }

    .front-page-image2 {
        background-image: url('../assets/bejing.jpg');
        background-size: 105% 100%;
        width: 100%;
        height: 100%;
    }


    .front-page-image3 {
        background-image: url('../assets/hongkong.jpg');
        background-size: 105% 100%;
        width: 100%;
        height: 100%;
    }

    .front-page-image4 {
        background-image: url('../assets/wall.jpg');
        background-size: 105% 100%;
        width: 100%;
        height: 100%;
    }

    .front-page-image5 {
        background-image: url('../assets/wuhan.jpg');
        background-size: 105% 100%;
        width: 100%;
        height: 100%;
    }

    .front-page-image6 {
        background-image: url('../assets/northeast.jpg');
        background-size: 105% 100%;
        width: 100%;
        height: 100%;
    }

    .front-page-image7 {
        background-image: url('../assets/himalaj.jpg');
        background-size: 105% 100%;
        width: 100%;
        height: 100%;
    }

    .front-page-image8 {
        background-image: url('../assets/tishuan.jpg');
        background-size: 105% 100%;
        width: 100%;
        height: 100%;
    }

    .people-flip-card-back {
        background-color: rgba(24, 43, 44, .3);
        color: white;
        text-align: justify;
        transform: rotateY(180deg);
        font-size: .85rem !important;
        letter-spacing: .004rem;
        line-height: 1.2;
    }
}

@media screen and (min-width: 1600px) {
    .headliner-holder{
        width: 300%;
        height: 35%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        margin-left: 13%;
        margin-bottom: 10rem;
    }
    
    .headliner{
        background-image: url("../assets/headliner.jpg");
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        background-size: contain;
        padding: 1rem;
        margin-top: 2%;
    }
    
    .people-flip-card-back {
        background-color: rgba(24, 43, 44, .3);
        color: white;
        text-align: justify;
        transform: rotateY(180deg);
        font-size: 1rem !important;
        letter-spacing: .004rem;
        line-height: 1.2;
    }

    
    .people-flip-card {
        width: 20%;
        height: 25%;
        padding: 1rem;
        perspective: 1000px;
    }

  }