
.tangsong-image1 {
    background-image: url('../assets/songdy1.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
}

.tangsong-image2 {
    background-image: url('../assets/songdy2.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
}

.tangsong-image3 {
    background-image: url('../assets/songdy3.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
}

.tangsong-image4 {
    background-image: url('../assets/songdy4.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
}

.tangsong-image5 {
    background-image: url('../assets/songdy5.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
}

.tangsong-image6 {
    background-image: url('../assets/songdy6.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
}
