@media only screen and (max-width: 767px) {

    .testingBG {
        width: 100%;
        height: 100%;
        background-image: url('../assets/welcoming01.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
    }

    .welcomingText {
        color: white;
        font-size: 1rem;
        position: relative;
        padding-left: 1rem;
        padding-right: 1rem;
        top: 45%;
        font-weight: 500;
        text-align: center;
    }

    .welcomingToNext {
        color: white;
        border: 1px solid black;
        width: 7vh;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 7vh;
        border-radius: 50%;
        transform: scale(1.2);
        position: relative;
        top: 40%;
        left: 45%;
        background-color: rgba(122, 119, 119, 0.5);
        animation: slideColorChange 1s infinite;
        cursor: pointer;
        user-select: none;
    }

    .clickedClicker {
        border: 0px;
        border-radius: 0px;
        width: 100vw;
        height: 100vh;
        top: 0%;
        left: 0%;
        transition: all .5s;
    }

    @keyframes clicker {
        0% {}

        50% {
            border-radius: 35%;
        }

        100% {

            border: 0px;
            border-radius: 0%;
            top: 0%;
            left: 0%;
            width: 100vw;
            height: 100vh;
        }
    }
}


/* Tablets (portrait and landscape): */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .testingBG {
        width: 100%;
        height: 100%;
        background-image: url('../assets/welcoming01.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        overflow: hidden;
    }

    .welcomingText {
        color: white;
        font-size: 1.8rem;
        position: relative;
        top: 45%;
        font-weight: 500;
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: center;
    }

    .welcomingToNext {
        color: white;
        border: 1px solid black;
        width: 6vh;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 6vh;
        border-radius: 50%;
        transform: scale(1.2);
        position: relative;
        top: 50%;
        left: 48%;
        background-color: rgba(122, 119, 119, 0.5);
        animation: slideColorChange 1s infinite;
        cursor: pointer;
        user-select: none;
    }

    .clickedClicker {
        border: 0px;
        border-radius: 0px;
        width: 100vw;
        height: 100vh;
        top: 0%;
        left: 0%;
        transition: all .5s;
    }

    @keyframes clicker {
        0% {}

        50% {
            border-radius: 35%;
        }

        100% {

            border: 0px;
            border-radius: 0%;
            top: 0%;
            left: 0%;
            width: 100vw;
            height: 100vh;
        }
    }
}


@media only screen and (min-width: 1025px) and (max-width: 1280px) {
    .testingBG {
        width: 100%;
        height: 100%;
        background-image: url('../assets/welcoming01.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        overflow: hidden;
    }

    .welcomingText {
        color: white;
        font-size: 1.8rem;
        position: relative;
        top: 45%;
        font-weight: 500;
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: center;
    }

    .welcomingToNext {
        color: white;
        border: 1px solid black;
        width: 6vh;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 6vh;
        border-radius: 50%;
        transform: scale(1.2);
        position: relative;
        top: 50%;
        left: 48%;
        background-color: rgba(122, 119, 119, 0.5);
        animation: slideColorChange 1s infinite;
        cursor: pointer;
        user-select: none;
    }

    .clickedClicker {
        border: 0px;
        border-radius: 0px;
        width: 100vw;
        height: 100vh;
        top: 0%;
        left: 0%;
        transition: all .5s;
    }

    @keyframes clicker {
        0% {}

        50% {
            border-radius: 35%;
        }

        100% {

            border: 0px;
            border-radius: 0%;
            top: 0%;
            left: 0%;
            width: 100vw;
            height: 100vh;
        }
    }
}


@media only screen and (min-width: 1281px) and (max-width: 1440px) {
    .testingBG {
        width: 100%;
        height: 100%;
        background-image: url('../assets/welcoming01.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        overflow: hidden;
    }

    .welcomingText {
        color: white;
        font-size: 1.8rem;
        position: relative;
        top: 45%;
        font-weight: 500;
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: center;
    }

    .welcomingToNext {
        color: white;
        border: 1px solid black;
        width: 5.5vh;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5.5vh;
        border-radius: 50%;
        transform: scale(1.2);
        position: relative;
        top: 50%;
        left: 48%;
        background-color: rgba(122, 119, 119, 0.5);
        animation: slideColorChange 1s infinite;
        cursor: pointer;
        user-select: none;
    }

    .clickedClicker {
        border: 0px;
        border-radius: 0px;
        width: 100vw;
        height: 100vh;
        top: 0%;
        left: 0%;
        transition: all .5s;
    }

    @keyframes clicker {
        0% {}

        50% {
            border-radius: 35%;
        }

        100% {

            border: 0px;
            border-radius: 0%;
            top: 0%;
            left: 0%;
            width: 100vw;
            height: 100vh;
        }
    }
}

@media only screen and (min-width: 1441px) {
    .testingBG {
        width: 100%;
        height: 100%;
        background-image: url('../assets/welcoming01.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }

    .welcomingText {
        color: red;
        font-size: 3rem;
        position: relative;
        top: 25%;
        font-weight: bolder;
        letter-spacing: .5rem;
        padding-left: 4rem;
        padding-right: 4rem;
        text-align: center;
    }

    .welcomingToNext {
        color: white;
        border: 1px solid black;
        width: 5.5vh;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5.5vh;
        border-radius: 50%;
        transform: scale(1.3);
        position: relative;
        top: 30%;
        left: 48%;
        background-color: rgba(122, 119, 119, 0.5);
        animation: slideColorChange 1s infinite;
        cursor: pointer;
        user-select: none;
    }

    .spinner {
        border: 0px;
        top: 40%;
        transform: scale(2);
        animation: none;
        background-color: rgba(0, 0, 0, 0);
    }

    .clickedClicker {
        border: 0px;
        border-radius: 0px;
        width: 100vw;
        height: 100vh;
        top: -10%;
        left: 0%; 
        background-color: rgba(40, 39, 39, 0.5);
        transition: all .5s;
    }

    @keyframes clicker {
        0% {}

        50% {
            border-radius: 50%;
            width: 50%;
            height: 50%;
        }

        100% {

            border: 0px;
            border-radius: 0%;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100vh;
        }
    }
}


@keyframes slideColorChange {
    0% {
        background-color: rgba(40, 39, 39, 0.5);
    }

    100% {

        background-color: rgba(199, 194, 194, 0.5);
    }
}